@import '~node_modules/modern-normalize/modern-normalize.css';

.gallery {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  gap: 20px;
  flex-wrap: wrap;
  // background-color: aquamarine;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}
.action {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  display: block;
}
.button.is-hidden {
  display: none;
}
.button > .spinner.is-hidden {
  display: none;
}
